/* 1. Tag 선택자 */
p {
    text-align: center;
}

/* 2. 전체 선택자 */
* {
    color: cadetblue;
}

div * {
    color: blue;
}

/* 3. 그룹 선택자 */
h1, h2 {
    color: black;
}

/* 4. ID 선택자 */
#first {
    text-align: left;
}

/* 4. class 선택자 */
.highlight {
    background-color: yellow;
    color: red;
}